.home__background {
    background-color: #323232;

    width: 100vw;
    min-height: 100vh;

    position: relative;
}

.home__girl {
    position: absolute;

    width: 885px;
    height: 846px;

    bottom: 0;
    left: 0;

}

.home__boy {
    position: absolute;

    width: 774px;
    height: 865px;

    top: -37px;
    right: 0;
}

.home__wrapper {
    display: flex;
    justify-content: center;

    padding-top: 50px;

    
}

.home__addBtn{
    position: sticky;
    top: 4px;
    left: 50px;

    width: 100px;
    height: 50px;

    margin-left: 30px;

    border-radius: 30px;
    border: transparent;

    background-color: #da6a4b;
    color: #fff;

    cursor: pointer;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.home__addBtn:hover{
    background-color: #FCFDFF;
    color: #DA6A4B;
}